<%- include("_header") -%>

<div>
  <h1>About Book App</h1>

  <a href="https://c38y7.sse.codesandbox.io/books">
    <h2>Book App</h2>
  </a>

  <h3>This app uses :</h3>

  <ul>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Ejs.js</li>
    <li>Sqlite3</li>
    <li>Bootstrap</li>
  </ul>

  <h3>Author : <a href="https://khairul-abdi.github.io/portfolio/"> Khairul Abdi Dongoran</a></h3>
  <h3>Version: 1.0.0</h3>
  <h3>License: This project is licensed under the MIT License</h3>
</div>

<%- include("_footer") -%>